.container {
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px;
  padding: 30px;
}

.main {
  background: url("main.jpeg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  color: #696969;
}
/*Charles Pederson*/
.textMain{
  position: absolute;
  top: 128px;
  left: 64px;
  font-size: 60px;
}
/*Extra thing*/
.textSecondary{
  position: absolute;
  top: 170px;
  left: 70px;
  font-size: 30px;
}

/* The navbar */
.topnav {
  background-color: #6495ED;
  display: inline-block;
  font-size: 16px;
  position: static;
  width: 100%;
  opacity: 50%;
  padding-left: 16px;
}
/* Navbar links */
.topnav a {
  padding: 16px;
  float: left;
  color: black;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  left: 50%
}
/*Navbar on hover*/
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/*Navbar when clicked*/
.topnav a:active {
  color: #f9f9f9;
}

.header {
  padding: 200px;
  text-align: center;
  background: #f9f9f9;
  color: grey;
  font-size: 30px;
}

.col {
  color: grey;
}
/*for creating columns*/
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}
.left {
  width: 30%;
}
.right {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 100%;
  height: 100%;
}

/*Form*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #6495ED;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #607B8B;
}

.fa {
  padding: 30px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
  display: inline;
  margin-left: 40%;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
